.container.testmonial__container {
    width: 40%;
    padding-bottom: 4rem;
    /* height: 60%; */
    display: grid;
}

.client__avatar {
    width: 5rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.testmonial {
    background: var(--color-bg-variant);
    border-radius: 2rem;
    text-align: center;
    padding: 2rem;
    user-select: none;
}

.client__review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    margin: 0.8rem auto 0;
    width: 80%;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES) ============*/
@media screen and (max-width: 1024px) {
    .container.testmonial__container {
        width: 60%;
        /* height: 80%; */

    }
}

/* ============ MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
    .container.testmonial__container {
        width: var(--container-width-sm);
        /* height: 70% */
    }

    .client__review {
        width: var(--container-width-sm);
    }
}